Flask==2.3.2
Flask-Login==0.6.2
Authlib==1.2.0
google-auth==2.25.2
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.1.0
google-api-python-client==2.100.0
python-dotenv==1.0.0
Werkzeug==2.3.6
requests==2.31.0
gunicorn==21.2.0
